# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# Fichiers que j'ai supprimmé https://chirpy.cotes.page/posts/getting-started/
Gemfile.lock